.listing {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    margin-top: 50px;
}

.watchImage {
    height: 20em;
    width: 20em;
    object-fit: cover;
    right: 80px;
    border: 1px solid black;
    position: relative;
}

.watchInfo {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 30px;
    min-width: 240px;
    height: 20em;
}

hr {
    height: 1px;
    width: 100px;
    background-color: black;
    margin: 0;
}

.buyButton {
    height: 40px;
    min-width:  160px;
    transition: background-color 0.2s, transform 0.2s;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #141415;
    font-size: large;
    margin-top: 6px;
    max-width: fit-content;
}

.buyButton:hover {
    color: white;
    background: #1870f4;
}

.emailButton {
   padding-left: 20px;
   padding-right: 20px;
}

i {
    padding-right: 4px;
}

.watchDescription {
    font-size:  18px;
}

.contactButtonDiv {
    display: flex;
    flex-direction: column;
    bottom: 0px;
    position: absolute;
}

@media (max-width: 600px) {
    .listing {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .watchImage {
        position: unset;
    }
    .watchInfo {
        display: flex;
        flex-direction: column;
        position:unset;
        right: 0;
        left: 0;
        min-width: 240px;
        height: 20em;
    }
}
